
.border_rd {
    border-radius: 5px;
}
.border_rd_img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}
.border_rd_img img{

    position: absolute;
top:-35px;
left: 29px;
}
.text_center{
    text-align: center;
}
.disply_flex{
display: flex;
justify-content: space-between;
text-align: center;

}
.shdow_hover{
    transition: 1s;
    width: 300px;
}
.shdow_hover:hover{
transform: scale(1.1);
background-color: rgb(147, 147, 176);
box-shadow: 3px 4px 3px #b0b5ba;
}
/* box-shadow: 5px 10px #888888; */